/*
 Theme Name:   Neve Child
 Theme URI:
 Description:  Neve Child Theme
 Author:       TobiePolsko.Zhr.Pl
 Author URI:   tobiepolsko.zhr.pl
 Template:     neve
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  nevechild
*/
.calendar-title {
    margin-top: 30px;
    text-align: center;
}

.cd-schedule__event {
    overflow: hidden;
}

.partners-slide{
	margin:30px 0;
}

.nv-content-wrap .wp-block-latest-posts__list li > a {
    text-decoration: none;
    color: #000;
    font-size: 1.8em;
}

.nv-content-wrap a:not(.button):not(.wp-block-file__button) {
    text-decoration: none;
}

.site-header .builder-item {
    margin-top: 0;
}
.line-1 {
    font-family: 'Oswald';
    font-size: 1.2em;
    line-height: 3.2em;
}
.line-2 {
    text-align: center;
    color: #d9b453;
    font-size: 3.3em;
    font-family: 'BEBAS NEUE';
}
.line-3, .line-4 {
    font-family: 'Oswald';
    font-size: 1.2em;
    line-height: 2em;
}

.latest-news li > a {
    font-family: "Bebas Neue"
}

#desc {
    text-align: center;
}

.bebas-font {
    font-family: Bebas Neue, var(--nv-fallback-ff);
}

.hfg_header.site-header {
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.1);
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
}

.site-logo .brand {
    z-index: 9999;
}

body.sticky-header {
    padding-top: 110px;
}

body.sticky-header header.header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 9999;
}

.desktop-right .nav-ul {
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
body.sticky-header .desktop-right .nav-ul {
    margin-top: -63px;
}

body .site-logo .brand img {
    height: 201px;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

body.sticky-header .site-logo .brand img {
    height: 100px;
    margin-top: -53px;
}

#desc {
    opacity:1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

body.sticky-header #desc {
    opacity:0;
}

.header--row .header--row-inner .container .row {
    height: 209px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
body.sticky-header .header--row .header--row-inner .container .row {
    height: 70px;
}

.builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item).dark-bg > a {
    border: 2px solid #af0303;
    padding: 0 5px;
    border-radius: 4px;
    background: #af0303;
    color: #fff;
}

.style-border-bottom ul>li:not(.menu-item-nav-search):not(.menu-item-nav-cart).dark-bg:hover>a:after {
    width: 0;
}

@media (max-width: 959px) {
    body .site-logo .brand img {
        height: 100px;
    }
    .header--row .header--row-inner .container .row {
        height: 80px;
    }
    body.sticky-header .header--row .header--row-inner .container .row {
        height: 80px;
    }

    .header-top-inner .mobile-right {
        margin-top: -15px;
    }
    body.sticky-header .site-logo .brand img {
        margin-top: 0;
    }

    .line-1 {
        display: block;
        margin-top: -15px;
        line-height: 1em;
        font-size: 1.2em;
    }

    .line-2 {
        display: none;
    }

    .line-3, .line-4 {
        font-size: 1.1em;
    }


    #desc {
        text-align: left;
        margin-left: 38px;
    }

    #desc br {
        display: none;
    }

    body.sticky-header #desc {
        opacity: 1;
    }
}